__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.log.*
logs/
.git
*.git
.gitignore
__init__.py
migrations/
tests/
docs/
.venv/
venv/
.env
.env.*
*.pyproj
*.idea/
.vscode/
docker-compose.yml
Dockerfile